<h1>Welcome to {{ hotelName }}</h1>
<!-- Interpolation -->

<!-- Property Binding -->
<div [hidden]="hideRooms">
  <h3>Number of Rooms:</h3>
  <div
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

{{ rooms.availableRooms || "No rooms available" }}

<!-- {{ roomList | json }} -->

<div *ngIf="rooms.availableRooms > 0">
	<hinv-rooms-list [rooms]="roomList"(selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>
<button (click)="toggle()">Toggle</button>
